@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(-45deg, #111827, #1f2937, #374151, #111827);
  background-size: 400% 400%;
  animation: gradient-animation 20s ease infinite;
}

.fullscreen-section {
  display: grid;
  place-items: center;
  min-height: 85vh;
  margin: 10vh auto;
  text-align: center;
  scroll-margin-top: 120px;
}
